#header {
  background-color: #336699;
  color: #ffffff;
  padding: 20px 0;
}

#content-menu {
  overflow: auto;
}

#content-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#content-menu li {
  display: block;
  float: left;
  padding: 0 10px;
}

#content-menu li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#content-menu li a:hover {
  color: #5daeff;
}

p.error {
  color: #cc0000;
}
